<div id="content-header">
  <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="fa fa-home"></i> Home</a> <a href="#" class="current">Edit class</a> </div>
  <div class="custom-header">
    <h1>Edit <%= @branch_class.name %> class
    </h1>
  </div>
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <span class="span12">  
      <div class="widget-box">
        <div class="widget-title"> <span class="icon"> <i class="fa fa-align-justify"></i> </span>
          <h5>Edit Class</h5>
        </div>
        <div class="widget-content nopadding">
          <%= render 'form' %>
        </div>
      </div>
    </span>
  </div>
</div>
