<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 form-card">
      <div class="card">
        <div class="heading">
          <h3 class="text-center">Edit <%= @branch_class.name %>  Branch</h3>
        </div>
        <%= render 'form'%>
      </div>
    </div>
  </div>
</div>
