.custom-header {
  margin: 24px 21px -19px 17px;
  background-color: #c7c7c7;
  h1 {
    padding: 7px;
  }
}/* 
.card {
 padding: 16px;
 margin-bottom: 32px;
 border-radius: 4px;
 display: block;
 background-color: white;
 box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
 text-decoration: none;
 color: grey;
 transition: all .25s;
}

.card:hover {
 box-shadow: 0 2px 18px 0 rgba(0,0,0,0.35);
 margin-top: -5px;
 text-decoration: none;
} */

.classe-block {
  color: grey;
  background-color: white;
  margin-top: 20px;

  .class-actions {
    background-color: gainsboro;
    padding: 8px;
  }
}

.block-color{
  color: blue;
}
.classe-block:hover {
  box-shadow: 0 2px 18px 0 rgba(0,0,0,0.35);
  background-color: gray;
  color: white;
}
.select2-drop {
  z-index: 99999;
}

.ui-progressbar {
    position: relative;
}
#progressbar {
    background: #F5FFFA;
}
.ui-progressbar .ui-progressbar-value {
  margin: 0;
}
.progress-label {
    position: absolute;
    text-align: center;
    width: 100%;
    color: #cccccc;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
}
.ui-widget-header {
    background: #ec2528;
}
p {
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 26px;
}
.well {
  margin-top: 20px;
}

.date-box{
  background: #bcb8b7;
}

.date-actions{
  .span3{
    width: 16% !important;
  }
}
.month-actions{
  .span3{
    width: 29% !important;
  }
}
