.form-card {
  .card {
    padding: 10px;
    label{
      margin-top: 20px;
      color: black;
    }

    input{
      border-bottom: 1px solid;
    }

    select{
      border-bottom: 1px solid;
    }
      
  }
}
.branch-img{
  width: 40px;
}