<div class="container-fluid">
  <div class="row-fluid">
    <span class="span12">  
      <div class="widget-box">
        <div class="widget-title"> <span class="icon"> <i class="fa fa-align-justify"></i> </span>
          <h5>Edit <%= @fee.branch_class.name %> Fee</h5>
        </div>
        <div class="widget-content nopadding">
          <%= render 'form' %>
        </div>
      </div>
    </span>
  </div>
</div>