<div class="row-fluid">
  <div class="clearfix">
    
  </div>
</div>

<div class="quick-actions_homepage">
  <div class="quick-actions date-actions month-actions">
    <% @months.each do |month| %>
      <%= link_to new_admin_branch_class_section_user_fee_path(@branch_class, @section, year_month: month) do %>
        <div class="date-box span3 classe-block ">
          <h3 class="text-center">
            <%= month %>
          </h3>
          <div class="class-actions">
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>