.dropdown-menu { opacity: 0.8; }

#signinup {
  .modal-dialog {
    width: 40%;
    height: 40%;
    top: 20%;

    .modal-header {
      min-height: 30.43px;
      padding: 24px;
      border-bottom: 1px solid #e5e5e5;
    }
  }
}

.signup {
  margin: auto;
  padding: 170px;
  width: max-content ;
  height: max-content;
  margin-top: 148px;

  .signupbtn {
    border-radius: 20px;
    box-sizing: border-box;
    border-width: 2px;
    background-color: transparent;
    font-size: 14px;
    font-weight: 500;
    padding: 14px 60px;
    transition: all 150ms linear;
    color: black;
    border-color: black;
  }

  .signupbtn:hover {
    background-color: #269abc;
    color: white;
    border-color: transparent;
  }
}

.start {
  margin: auto;
  padding: auto;
  width: max-content ;
  height: max-content;
}

#done .modal-dialog {
  margin: auto;
  padding: 55px;
}

glyphicon glyphicon-ok {
    color: #00b3ee;
}

.modal-header {
  ::placeholder { /* Most modern browsers support this now. */
   color: black;
  }

  input {
    border-bottom: 1px solid #b39696;
    margin-top: 21px;
  }
}
.present-date-box {
  background-color: #154415;
  color: black;
}
.absent-date-box {
  background-color: #bd2828;
  color: black;
}
.leave-date-box {
  background-color: #faa732;
  color: black;
}
