<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 form-card">
      <div class="card">
        <div class="heading">
          <h3 class="text-center"><%= @branch_class.name %> (<%= @class_section.section %>)</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 form-card subject">
        <div class="card">
          <div class="heading">
            <%= link_to section_students_admin_branch_class_section_student_sections_path(@branch_class, @class_section) do %>
              <h3 class="text-center">
                Students
              </h3>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-4 form-card subject">
        <div class="card">
          <div class="heading">
            <%= link_to admin_branch_class_section_teaching_subjects_path(@branch_class, @class_section) do %>
              <h3 class="text-center">
                Teachers
              </h3>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-4 form-card subject">
        <div class="card">
          <div class="heading">
            <h3 class="text-center">
              Subjects
            </h3>
          </div>
        </div>
      </div>
  </div>
</div>
